{% extends 'gestaoPedidos/bulma_table_details.html' %}
{% load poll_extras %}
{% block details_content %}

<table>
    <!--td>{{row.record.estadoid.id|get_descricao_estado}}</td!-->
    <tbody>
        <tr>
            <td><strong>Assunto</strong></td>
            <td>{{row.record.assunto}}</td>
        </tr>
        <tr>
            <td><strong>Descricao:</strong></td>
            <td>{{row.record.descricao}}</td>
        </tr>
    {%if row.cells.tipo == "Horário"%}
        <tr>
            <td><strong>Tipo de Alteracao:</strong></td>
            <td>{{row.record.id|get_tipo_alteracao}}</td>
        </tr>
        <tr>
            <td><strong>Unidade Curricular:</strong></td>
            <td>{{row.record.id|get_unidade_curricular}}</td>
        </tr>
        <tr>
        </tr>
    {% endif %}
        <tr>
            <td><a href={{row.cells.tipo|get_alter_url_from_tipoPedido:row.record.id}}><button  class="button is-info is-outlined"><span>Alterar</span></button></a></td>
            <form class="js-modal-trigger" data-target="msg"><!--action={#row.cells.tipo|get_delete_url_from_tipoPedido:row.record.id#}-->
                {% csrf_token %}
                <input type=hidden value={{row.record.id}} name="id"></input>
                <td>
                    {% if user.id|isFuncionario %}
                    <button class="button is-success is-outlined">
                        <span>Validar</span>
                    </button>    
                    {% else %}
                    <button class="button is-danger is-outlined">
                        <span>Apagar</span>
                    </button>
                    {% endif %}
                </td>
            </form>
        </tr>
    </tbody>
</table>

{% endblock details_content %}