
{% extends 'home/index.html' %}



{% block title %}- Criar Pedido de Horário{% endblock title %}


{% block content %}

    <div style="padding: 3rem 2vw 1rem;">
        <form action="/" method="post" class="steps is-success">
            <div class="step-item is-success is-active" data-step-id="0">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-account"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Dados do pedido</p>
                </div>
            </div>
            <div class="step-item is-success is-active" data-step-id="1">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-circle-edit-outline mdi-24px"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Dados do horário</p>
                </div>
            </div>
            <div class="step-item is-success is-active" data-step-id="2">
                <div class="step-marker">
                    <span class="icon">
                        <i class="mdi mdi-check"></i>
                    </span>
                </div>
                <div class="step-details">
                    <p class="step-title">Concluir</p>
                </div>
            </div>
            
            {% csrf_token %}
            <div class="steps-content">
                <div class="step-content is-active">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Nome Próprio</label>
                                <div class="control is-clearfix">
                                    <input name="first_name" class="input" id="id_first_name" value="{{form.first_name.value|default_if_none:"" }}" style="" type="text" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Apelido</label>
                                <div class="control is-clearfix">
                                    <input name="last_name"class="input" id="id_last_name" style="" value="{{form.last_name.value|default_if_none:"" }}" type="text" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Username</label>
                                <div class="control is-clearfix">
                                    <input  name="username" value="{{form.username.value|default_if_none:""}}" class="input"id="id_username" style="" type="text" maxlength="255"> 
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Email</label>
                                <div class="control is-clearfix">
                                    <input class="input" name="email"id="id_email"value="{{form.email.value|default_if_none:"" }}" type="text" style="" maxlength="255"> <!----> <!----> <!---->
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Contacto</label>
                                <div class="control is-clearfix">
                                    <input name="contacto" class="input" id="id_contacto"  value="{{form.contacto.value |default_if_none:"" }}"  style="" type="text" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="step-content is-active">
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Hora</label>
                                <div class="control is-clearfix">
                                    <input name="first_name" class="input" id="id_first_name" value="{{form.first_name.value|default_if_none:"" }}" style="" type="text" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="field">
                                <label class="label">Dia da semana</label>
                                <div class="control is-clearfix">
                                    <input name="last_name"class="input" id="id_last_name" style="" value="{{form.last_name.value|default_if_none:"" }}" type="text" maxlength="255">
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <div class="field">
                                <label class="label">Descrição</label>
                                <div class="control is-clearfix">
                                    <input  name="username" value="{{form.username.value|default_if_none:""}}" class="input"id="id_username" style="" type="text" maxlength="255"> 
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
                <div class="step-content is-active">
                    <div class="columns">
                        <div class="column">
                            <div class="field" >
                                <label class="label">CLicar no botão para confirmar e criar o pedido</label>
                                <div class="control is-clearfix" style="margin-top:2%;text-align:center;position:center;">
                                    <button type="submit" class="button is-success is-outlined" >
                                        <span>Submeter</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            
            <div style="margin-top:2%;text-align:center;position:center;" class="steps-actions">
                <div class="steps-action">
                    <button type="button" data-nav="previous" value="Voltar" class="button is-outlined" style="margin-right:5%" href="#">Voltar</button>
                </div>
                <div class="steps-action">
                    <button style="" data-nav="next" href="#" class="button is-success is-outlined">
                        <span>Seguinte</span>
                    </button>
                </div>
            </div>
            
        </form>
    </div>

{% endblock content %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bulma-steps@2.2.1/dist/js/bulma-steps.js"></script>
<script>
    bulmaSteps.attach();
</script>
{% endblock scripts %}
