{% load static %}

<!DOCTYPE html>
<html lang="pt-pt">

	<head>

		<title>
			Gestão de Pedidos {% block title %} {% endblock title %}

		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="{% static 'css/bulma.css' %}">
		<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
		<link rel="stylesheet" href="{% static 'css/materialdesignicons.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/responsive-tables.css' %}">
		<link rel="stylesheet" href="{% static 'css/animated-arrows.css' %}">
		<link rel="icon" href="{% static 'img/logo.png' %}" />
			
		{% block load %}
		{% endblock load %}

		<style>
			body,
			html {
				min-height: 100%;
				background-size: cover;
				background: linear-gradient(to bottom, #ffffff, #eeeeff) no-repeat fixed center center;
			}

			* {
				outline: none;
			}

			#app {
				position: relative;
				min-height: 100vh;
				padding-bottom: 5rem
			}

			#top-hero-body {
				height: 45vh;
			}

			#page-content {
				margin: -37vh 5vw 0
			}

			#page-content .card {
				min-height: 70vh
			}

			.footer {
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: #fafafa;
				padding: 1rem 3rem;
			}

			.step-item.is-completed {
				cursor: pointer;
			}

			.step-item.is-active {
				cursor: pointer;
			}
		</style>
	</head>

	<body>
		<div id="app">
			{% include 'home/navbar.html' %}
			<div class="hero is-primary is-bold" id="top-hero">
				<div id="top-hero-body" class="hero-body"></div>
			</div>
			<div id="page-content">
				<div class="card">
					<div class="card-content">
						{% if messages %}
							<ul >
								{% for message in messages %}
									<li class="notification 
										{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
										is-danger
										{% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
										is-success
										{% endif %}">
										<button class="delete" aria-label="delete"></button>
										<p>{{ message.tags }}</p>
										<p>{{ message }}</p>
									</li>
								{% endfor %}
							</ul>

							<hr>
						{% endif %}
						{% block content %}
						<!-- include the content here-->
						{% endblock content %}
					</div>
				</div>
			</div>

			<footer class="footer">
				<div style="margin: auto; width: max-content">
					&#169; 2023 Gestão de pedidos (Grupo 16)
				</div>
			</footer>
		</div>

		<script type="text/javascript" src="{% static 'js/fontawesome.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/animated-arrows.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/js_custom.js' %}"></script>
		{% block scripts %}
		{% endblock scripts %}
		<script>
			//script para fechar notificações
			document.addEventListener('DOMContentLoaded', () => {
				(document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
				  const $notification = $delete.parentNode;
			  
				  $delete.addEventListener('click', () => {
					$notification.parentNode.removeChild($notification);
				  });
				});
			  });

			//script para lidar com o modal
			document.addEventListener('DOMContentLoaded', () => {
				// Functions to open and close a modal
				function openModal($el) {
					$el.classList.add('is-active');
				}
				
				function closeModal($el) {
					$el.classList.remove('is-active');
				}
				
				function closeAllModals() {
					(document.querySelectorAll('.modal') || []).forEach(($modal) => {
					closeModal($modal);
					});
				}
				
				// Add a click event on buttons to open a specific modal
				(document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
					const modal = $trigger.dataset.target;
					const $target = document.getElementById(modal);
				
					$trigger.addEventListener('click', () => {
					openModal($target);
					});
				});
				
				// Add a click event on various child elements to close the parent modal
				(document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
					const $target = $close.closest('.modal');
				
					$close.addEventListener('click', () => {
					closeModal($target);
					});
				});
				
				// Add a keyboard event to close all modals
				document.addEventListener('keydown', (event) => {
					const e = event || window.event;
				
					if (e.keyCode === 27) { // Escape key
					closeAllModals();
					}
				});
			});
		</script>


		{% include 'home/popup.html'  %}
	</body>

</html>