{% load static %}

<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="/">
      <img src="{% static 'img/logo-navbar.png' %}" alt="Dia Aberto">
    </a>

    <a role="button" class="navbar-burger burger" onclick="onclick_burger(event)" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Pedidos
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'gestaoPedidos:consultar_pedidos' %}" class="navbar-item">Consultar todos os pedidos</a>
          <a href="{% url 'gestaoPedidos:criar_pedido_horario' %}" class="navbar-item">Criar Pedido de Horário</a>
        </div>
      </div>
    </div>  
  </div>
  <div class="navbar-end">
    <div class="navbar-item">
      {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">
        <button type="button" class="button">
          <span class="icon is-small">
            <i class="mdi mdi-login-variant"></i>
          </span>
          <span>Sair</span>
        </button>
      </a>
    </div>
    {% else %}
    <div class="navbar-item">
      <a href="{% url 'logout' %}">
        <button type="button" class="button is-primary">
          <span><strong>Registar</strong></span>
        </button>
      </a>
    </div>
    <div class="navbar-item">
      <a href="{% url 'login' %}">
        <div type="button" class="button">
          <span class="icon is-small">
            <i class="mdi mdi-login-variant"></i>
          </span>
          <span>Entrar</span>
        </div>
      </a>
    </div>
    {% endif %}
  </div>
</nav>


{% block scripts %}

<script type="text/javascript" src="{% static 'js/notificacoes.js' %}"></script>
<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<script>

</script>

{% endblock scripts %}