
<div id="msg" class="dialog modal {%if msg %}is-active{% endif %}">
    
    <div class="modal-background"></div><!-- só para fazer salientar o modal-->
    <div class="modal-card animation-content">
        <header class="modal-card-head">
            <button class="delete" aria-label="close"></button>
          </header>
        <section class="modal-card-body is-titleless" style="border-top-left-radius: 6px; border-top-right-radius: 6px;"><!-- style so para ficar redondo-->
            <div class="media">
                <div class="media-content">
                    <p>asd{{ msg }}</p>
                </div>
            </div>
        </section>
        <footer class="modal-card-foot">
            <button onclick="alert.cancelar()" class="button" id='dialog-cancel'>Cancelar</button>
            <button onclick="alert.confirmar()" class="button is-success" id='dialog-confirm'>Confirmar</button>
        </footer>
    </div>
</div>
{% if msg %}
{% endif%}